{% macro render(tableObject, opts = {}) %}{% apply spaceless %}
    {% import '_table-helper/thead.twig' as thead %}
    {% import '_table-helper/tfoot.twig' as tfoot %}
    {% import '_table-helper/tr.twig' as tr %}
    {%- set opts = {
        thead: false,
        tfoot: false,
        classes: {
            table: false,
            tr: false,
            td: false,
            th: false,
            thead: false,
            tfoot: false,
            first: {
                tr: false,
                td: false,
                th: false,
            },
            last: {
                tr: false,
                td: false,
                th: false
            }
        }
    }|merge(opts, true) %}
    {%- set rows = tableObject.rows %}
    {% if rows|length %}
        <table{{ opts.classes.table ? " class=#{opts.classes.table}" }}>
            {%- for row in rows %}
                {%- if opts.thead and loop.first %}
                    {{- thead.render(row, opts, loop) }}
                {%- elseif opts.tfoot and loop.last  %}
                    {{- tfoot.render(row, opts, loop) }}
                {%- else %}
                    {%- if (not opts.thead and loop.first) or (opts.thead and loop.index == 2) %}
                        {# Open tbody #}
                        <tbody>
                    {%- endif %}
                    {{- tr.render(row, opts, loop) }}
                    {# Close tbody #}
                    {% if (not opts.tfoot and loop.last) or (opts.tfoot and loop.index == (rows|length - 1)) %}</tbody>{% endif %}
                {%- endif %}
            {%- endfor %}
        </table>
    {% endif %}
{% endapply %}{% endmacro %}
